.container-footer {
  height: 490px;

  .footer-head {
    background-color: #271c47;
    color: #ffffff;
    display: flex;
    height: 160px;
    justify-content: space-around;
    align-items: center;

    .left-footer-head {
      h1 {
        font-size: 32px;
        font-weight: 600;
      }
      p {
        width: 515px;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .right-footer-head {
      .form-head {
        width: 639px;
        display: flex;
        justify-content: space-around;

        input {
          width: 233px;
          height: 42px;
          border-radius: 8px;
          outline: 0;
          padding-left: 10px;
          color: #676767;
          font-weight: 400;
          font-size: 14px;
          border: transparent;
        }

        button {
          width: 157px;
          height: 42px;
          font-size: 14;
          font-weight: 600;
          background-color: #f7ca11;
          border: transparent;
          border-radius: 8px;

          &:hover {
            cursor: pointer;
          }
        }
      }
      .terms-head {
        display: flex;
        margin: 5px 0;
        align-items: center;

        input {
          margin-right: 5px;

          p {
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
  }

  .footer-main {
    background-color: #f4f4f4;
    height: 280px;
    display: flex;
    align-items: center;
    padding: 40px 80px;

    .main-social {
      width: 354px;

      img {
        width: 164px;
      }

      p {
        margin: 5px 0 20px;
        font-weight: 300;
        font-size: 14px;
        width: 350px;
        color: #3f3f40;
      }
      div {
        display: flex;
        justify-content: space-between;
        width: 124px;
        height: 24px;

        img {
          width: 24px;
        }
      }
    }

    .layout-center {
      height: 198px;
      width: 1px;
      border-right: 1px solid #2828282e;
      margin: 0 80px 20px;
    }

    .links-main {
      width: 631px;
      height: 116px;
      display: flex;

      ul {
        margin: 0 20px;

        li {
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 400;
          color: #222222b5;

          &:first-child {
            margin-bottom: 15px;
            color: #222222b5;
          }

          span {
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }
  }

  .footer {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 13px;
      font-weight: 300;
    }
  }
}
